* {
    box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
}

.border() {
    border: 1px solid #ccc;
}

.clearfix() {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.budget-bar {
    max-width: 750px;
    min-height: 500px;
    margin: 0 auto;
    position: relative;
    padding-top: 140px;
    // .border();

    .bar-container {
        height: 360px;
        width: 50%;
        position: relative;
        float: left;
        // .border();
        .clearfix();

        &.left {
            padding-right: 40px;
            .bar {
                float: right;
                .clearfix();
                .bar-content {
                    background: rgb(72,124,75);
                    background: -moz-linear-gradient(left, rgba(72,124,75,1) 0%, rgba(107,186,112,1) 9%, rgba(107,186,112,1) 59%, rgba(24,117,67,1) 100%);
                    background: -webkit-linear-gradient(left, rgba(72,124,75,1) 0%,rgba(107,186,112,1) 9%,rgba(107,186,112,1) 59%,rgba(24,117,67,1) 100%);
                    background: linear-gradient(to right, rgba(72,124,75,1) 0%,rgba(107,186,112,1) 9%,rgba(107,186,112,1) 59%,rgba(24,117,67,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#487c4b', endColorstr='#187543',GradientType=1 );
                }
                .purse {
                    background-image: url('./images/purse-left.png');
                }

                .label {
                    &.label-total, &.label-actual {
                        left: -125px;
                    }
                    &.label-actual {
                        p {
                            &:last-child {
                                color: #187543;
                            }
                        }
                    }
                }
            }
        }
        &.right {
        padding-left: 40px;
            .bar {
                float: left;
                .clearfix();
                .bar-content {
                    background: rgb(73,78,124);
                    background: -moz-linear-gradient(left, rgba(73,78,124,1) 1%, rgba(154,155,191,1) 9%, rgba(86,88,109,1) 60%, rgba(41,47,73,1) 100%);
                    background: -webkit-linear-gradient(left, rgba(73,78,124,1) 1%,rgba(154,155,191,1) 9%,rgba(86,88,109,1) 60%,rgba(41,47,73,1) 100%);
                    background: linear-gradient(to right, rgba(73,78,124,1) 1%,rgba(154,155,191,1) 9%,rgba(86,88,109,1) 60%,rgba(41,47,73,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494e7c', endColorstr='#292f49',GradientType=1 );
                }
                .purse {
                    background-image: url('./images/purse-right.png');
                }
                .label {
                    &.label-total, &.label-actual {
                        right: -125px;
                        text-align: right;
                    }
                    &.label-actual {
                        p {
                            &:last-child {
                                color: #807f9b;
                            }
                        }
                    }
                }
            }
        }

        // bar
        .bar {
            width: 125px;
            height: 100%;
            position: relative;
            background: #969696;
            background: #b1afce;
            background: -moz-linear-gradient(left, #b1afce 0%, #e2e2e2 9%, #c4c5ef 65%, #807f9b 100%);
            background: -webkit-linear-gradient(left, #b1afce 0%,#e2e2e2 9%,#c4c5ef 65%,#807f9b 100%);
            background: linear-gradient(to right, #b1afce 0%,#e2e2e2 9%,#c4c5ef 65%,#807f9b 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1afce', endColorstr='#807f9b',GradientType=1 );
            // .border();
            .label {
                position: absolute;
                width: 100%;
                &.label-name {
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 700;
                    top: -40px;
                }
                &.label-percent {
                    top: 50%;
                    margin-top: 70px;
                    text-align: center;
                    font-weight: 700;
                    font-size: 24px;
                    color: rgba(255,255,255, .7);
                }

                &.label-total, &.label-actual {
                    top: -48px;
                    position: relative;
                    height: 50px;
                    border-bottom: 2px dashed #ccc;
                    p {
                        margin: 0;
                        line-height: 25px;
                        &:first-child {
                            color: #888;
                        }
                        &:last-child {
                            font-weight: 700;
                            font-size: 24px;
                            color: #666;
                        }
                    }
                }

                &.label-actual {
                    top: 0;
                    border-top: 2px dashed #ccc;
                    border-bottom: none;
                }
            }

            .bar-content {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: #ccc;
                .transition(all 1s);
            }

            .purse {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 120px;
                margin-top: -60px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;

            }

        }

    }

    .extra {
        .left {
            float: left;
            width: 50%;
            text-align: right;
            padding-right: 10px;
            .name, .value {
                color: #a52a2a;
            }
        }
        .right {
            float: right;
            width: 50%;
            padding-left: 10px;
            .name, .value {
                color: #2e8b57;
            }
        }
        .clearfix();

        .label, .value, .name {
            margin-top: 10px;
        }

        .name {
            margin-top: 20px;
            font-size: 24px;
            font-weight: 700;
        }
        .label {
            font-size: 18px;
        }
        .value {
            font-size: 24px;
            font-weight: 700;
        }


    }

}
